<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>音频直播-科汛V名师</title>
    <meta name="keywords"  content="" />
    <meta name="description"  content="" />
    <link rel="stylesheet" href="/Public/app/css/reset.css?<?php echoHash(); ?>">
    <script src="/Public/common/js/aliyun/alioss/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
    <script src="/Public/common/js/aliyun/alioss/upload.js?<?php echoHash(); ?>"></script>
    <script>
      var config = {
        userid:"4",
        wxid:"2",
        infoid:"15160",
        cid:"15938",
        vs:"//ks.kesion.com:9501",
       	avatar:"https://ketangjiecom.oss-cn-beijing.aliyuncs.com/Images/school/2/201809/b97gjw5tfh.jpg",
        name:"涂林波",
        title:"语音直播测试",
        code:"//ks.kesion.com/Images/QRcode/weimenhu9c31562711a77c1b0cd4bc332800ed5e.png",
        phoneUrl:"/home.html/course/Index/share1/15160?classlevel-2,appid-6,courseType-2"
      }</script>

  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
