.article {
  border-radius: 4px;
  background: #fff;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
}

.article-iframe {
  width: 100%;
  z-index: 1999;
  min-height: 700px;
}

.article-sort {
  width: 297px;
  height: 30px;
  border: 1px solid rgba(188, 195, 204, 1);
  border-radius: 4px;
  margin-left: 20px;
  color: rgba(120, 124, 130, 1);
  border-right: none;
  overflow: hidden;
}

.article-sort span {
  width: calc(100% / 3 - 1px);
  height: 100%;
  float: left;
  border-right: 1px solid rgba(188, 195, 204, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.active-msg {
  background: #409eff;
  color: #fff;
}

.article-title {
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  background: #f5f7fa;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(120, 124, 130, 1);
  text-align: center;
  margin-top: 20px;
}

.article-list {
  padding-bottom: 20px;
}

.article-list .el-row {
  text-align: center;
  border-bottom: 1px solid #e6e9ed;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(96, 99, 103, 1);
  padding: 20px 0;
}

.article-list .el-row .el-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-list .el-row .el-checkbox__label {
  display: none;
}

.article-list__pldelete {
  padding: 20px 43px;
  overflow: hidden;
}

.article-list__pldelete .el-button {
  margin-left: 10px;
}

.article .el-dialog__body {
  padding: 10px 20px 30px 20px;
}

.article-msg {
  border-top: 1px solid #e6e9ed;
}

.article-msg__btn {
  text-align: center;
}

.article .el-form {
  margin-top: 20px;
  padding-right: 100px;
}

.consultation-sort {
  overflow: hidden;
  padding-bottom: 14px;
  border-bottom: 1px dashed #e6e9ed;
}

.consultation-sort span {
  float: right;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(96, 99, 103, 1);
  line-height: 36px;
  margin-left: 20px;
  margin-right: 5px;
}

/* 搜索框 */

.consultation-sort .el-input {
  width: 240px;
  float: left;
}

/* 选择器 */

.consultation-sort .el-select {
  float: right;
}

.consultation-sort .el-select > .el-input {
  width: 130px;
}

.article-comment__sort {
  width: 198px;
  height: 30px;
  border: 1px solid rgba(188, 195, 204, 1);
  border-radius: 4px;
  margin-left: 20px;
  color: rgba(120, 124, 130, 1);
  border-right: none;
  overflow: hidden;
}

.article-comment__sort span {
  width: calc(100% / 2 - 1px);
  height: 100%;
  float: left;
  border-right: 1px solid rgba(188, 195, 204, 1);
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
