.train-title {
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  background: #f5f7fa;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(120, 124, 130, 1);
  text-align: center;
  margin-top: 20px;
}

.train-dialog .el-input {
  width: 350px;
}

.train-list {
  padding-bottom: 20px;
}

.train-list .el-row {
  text-align: center;
  border-bottom: 1px solid #e6e9ed;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(96, 99, 103, 1);
  padding: 20px 0;
}

.train-list .el-row .el-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
