<div>
  <div class="userexam-select" v-if="show">
    <div class="userexam-select__title">
      <p>选择考试分类</p>
    </div>
    <div style="width:100%;">
      <div class="userexam-select__item" v-for="(item,i) in allClass" :key="i">
        <div class="userexam-select__top">
          <p>{{ item.categoryname }}</p>
          <span></span>
        </div>
        <div class="userexam-select__bottom">
          <el-button
            style="padding: 10px 34px;"
            round
            size="medium"
            @click="setClasses(item.categoryid,item.categoryname,item.childs)"
            >全部</el-button
          >
          <el-button
            round
            size="medium"
            :class="{userexamActive:active==child.categoryid}"
            v-for="(child,n) in item.childs"
            :key="n"
            @click="setClasses(child.categoryid,child.categoryname,child.childs)"
            >{{ child.categoryname }}</el-button
          >
        </div>
      </div>
    </div>
  </div>
</div>

